<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HARK010.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <HARK010.My.MySettings>
            <setting name="WebSource" serializeAs="String">
                <value>https://webapp.iti-oliver.jp/hass/HARK010UpdateFeed.xml</value>
            </setting>
            <setting name="WebProxy" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="DBユーザ" serializeAs="String">
                <value>BOV2</value>
            </setting>
            <setting name="DBパスワード" serializeAs="String">
                <value>BOV2</value>
            </setting>
            <setting name="DB接続文字列" serializeAs="String">
                <value>ITI</value>
            </setting>
            <setting name="事業所コード" serializeAs="String">
                <value>0</value>
            </setting>
        </HARK010.My.MySettings>
    </userSettings>
</configuration>
